<div class="endpoints-ejs" style="margin-left: 20%; margin-right: 20%; margin-top: 5%;">
    <h1 style="margin-left: -10%; margin-right: -10%; margin-bottom: 60px; font-weight: 700; background: linear-gradient(180deg, rgb(89, 189, 255) 0%, rgb(57, 41, 128) 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text;"><i class="fas fa-satellite" style="background: linear-gradient(69deg, rgb(89, 189, 255) 0%, rgb(57, 41, 128) 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text;"></i> ENDPOINTS</h1>
    <article>
        <h1 style="font-size: 2.2vh;"><i class="fas fa-code" style="background: linear-gradient(69deg, rgb(89, 189, 255) 0%, rgb(57, 41, 128) 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text;"></i> /api/token</h1>
        <p>Get the token with which you can access the endpoints. <a style="color: #f16969; text-decoration: underline;" href="/auth">You need to log in with your Discord account.</a></p>
    </article>
    </br>
    <article>
        <h1 style="font-size: 2.2vh;"><i class="fas fa-code" style="background: linear-gradient(69deg, rgb(89, 189, 255) 0%, rgb(57, 41, 128) 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text;"></i> /api/animal/dog?token=<a style="background: linear-gradient(69deg, rgb(89, 189, 255) 0%, rgb(57, 41, 128) 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text;">TOKEN</a></h1>
        <p>Get a random picture of a dog.</p>
    </article>
    </br>
    <article>
        <h1 style="font-size: 2.2vh;"><i class="fas fa-code" style="background: linear-gradient(69deg, rgb(89, 189, 255) 0%, rgb(57, 41, 128) 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text;"></i> /api/animal/cat?token=<a style="background: linear-gradient(69deg, rgb(89, 189, 255) 0%, rgb(57, 41, 128) 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text;">TOKEN</a></h1>
        <p>Get a random picture of a cat.</p>
    </article>
    </br>
    <article>
        <h1 style="font-size: 2.2vh;"><i class="fas fa-code" style="background: linear-gradient(69deg, rgb(89, 189, 255) 0%, rgb(57, 41, 128) 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text;"></i> /api/animal/panda?token=<a style="background: linear-gradient(69deg, rgb(89, 189, 255) 0%, rgb(57, 41, 128) 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text;">TOKEN</a></h1>
        <p>Get a random picture of a panda.</p>
    </article>
    </br>
    <article>
        <h1 style="font-size: 2.2vh;"><i class="fas fa-code" style="background: linear-gradient(69deg, rgb(89, 189, 255) 0%, rgb(57, 41, 128) 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text;"></i> /api/animal/bear?token=<a style="background: linear-gradient(69deg, rgb(89, 189, 255) 0%, rgb(57, 41, 128) 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text;">TOKEN</a></h1>
        <p>Get a random picture of a bear.</p>
    </article>
    </br>
    <article>
        <h1 style="font-size: 2.2vh;"><i class="fas fa-code" style="background: linear-gradient(69deg, rgb(89, 189, 255) 0%, rgb(57, 41, 128) 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text;"></i> /api/animal/parrot?token=<a style="background: linear-gradient(69deg, rgb(89, 189, 255) 0%, rgb(57, 41, 128) 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text;">TOKEN</a></h1>
        <p>Get a random picture of a parrot.</p>
    </article>
    </br>
    <article>
        <h1 style="font-size: 2.2vh;"><i class="fas fa-code" style="background: linear-gradient(69deg, rgb(89, 189, 255) 0%, rgb(57, 41, 128) 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text;"></i> /api/animal/bird?token=<a style="background: linear-gradient(69deg, rgb(89, 189, 255) 0%, rgb(57, 41, 128) 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text;">TOKEN</a></h1>
        <p>Get a random picture of a bird.</p>
    </article>
    </br>
    <article>
        <h1 style="font-size: 2.2vh;"><i class="fas fa-code" style="background: linear-gradient(69deg, rgb(89, 189, 255) 0%, rgb(57, 41, 128) 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text;"></i> /api/animal/penguin?token=<a style="background: linear-gradient(69deg, rgb(89, 189, 255) 0%, rgb(57, 41, 128) 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text;">TOKEN</a></h1>
        <p>Get a random picture of a penguin.</p>
    </article>
    </br>
    <article>
        <h1 style="font-size: 2.2vh;"><i class="fas fa-code" style="background: linear-gradient(69deg, rgb(89, 189, 255) 0%, rgb(57, 41, 128) 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text;"></i> /api/animal/penguin?token=<a style="background: linear-gradient(69deg, rgb(89, 189, 255) 0%, rgb(57, 41, 128) 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text;">TOKEN</a></h1>
        <p>Get a random picture of a penguin.</p>
    </article>
    </br>
    <article>
        <h1 style="font-size: 2.2vh;"><i class="fas fa-code" style="background: linear-gradient(69deg, rgb(89, 189, 255) 0%, rgb(57, 41, 128) 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text;"></i> /api/animal/lion?token=<a style="background: linear-gradient(69deg, rgb(89, 189, 255) 0%, rgb(57, 41, 128) 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text;">TOKEN</a></h1>
        <p>Get a random picture of a lion.</p>
    </article>
    </br>
    <article>
        <h1 style="font-size: 2.2vh;"><i class="fas fa-code" style="background: linear-gradient(69deg, rgb(89, 189, 255) 0%, rgb(57, 41, 128) 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text;"></i> /api/animal/eagle?token=<a style="background: linear-gradient(69deg, rgb(89, 189, 255) 0%, rgb(57, 41, 128) 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text;">TOKEN</a></h1>
        <p>Get a random picture of a eagle.</p>
    </article>
    </br>
    <article>
        <h1 style="font-size: 2.2vh;"><i class="fas fa-code" style="background: linear-gradient(69deg, rgb(89, 189, 255) 0%, rgb(57, 41, 128) 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text;"></i> /api/animal/llama?token=<a style="background: linear-gradient(69deg, rgb(89, 189, 255) 0%, rgb(57, 41, 128) 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text;">TOKEN</a></h1>
        <p>Get a random picture of a llama.</p>
    </article>
    </br>
    <article>
        <h1 style="font-size: 2.2vh;"><i class="fas fa-code" style="background: linear-gradient(69deg, rgb(89, 189, 255) 0%, rgb(57, 41, 128) 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text;"></i> /api/animal/hummingbird?token=<a style="background: linear-gradient(69deg, rgb(89, 189, 255) 0%, rgb(57, 41, 128) 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text;">TOKEN</a></h1>
        <p>Get a random picture of a hummingbird.</p>
    </article>
    </br>
    <article>
        <h1 style="font-size: 2.2vh;"><i class="fas fa-code" style="background: linear-gradient(69deg, rgb(89, 189, 255) 0%, rgb(57, 41, 128) 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text;"></i> /api/animal/fox?token=<a style="background: linear-gradient(69deg, rgb(89, 189, 255) 0%, rgb(57, 41, 128) 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text;">TOKEN</a></h1>
        <p>Get a random picture of a fox.</p>
    </article>
    </br>
    <article>
        <h1 style="font-size: 2.2vh;"><i class="fas fa-code" style="background: linear-gradient(69deg, rgb(89, 189, 255) 0%, rgb(57, 41, 128) 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text;"></i> /api/dipper?token=<a style="background: linear-gradient(69deg, rgb(89, 189, 255) 0%, rgb(57, 41, 128) 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text;">TOKEN</a>&avatar=<a style="background: linear-gradient(69deg, rgb(89, 189, 255) 0%, rgb(57, 41, 128) 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text;">AVATAR</a></h1>
        <p>Wow this is rubbish.</p>
    </article>
    </br>
    <article>
        <h1 style="font-size: 2.2vh;"><i class="fas fa-code" style="background: linear-gradient(69deg, rgb(89, 189, 255) 0%, rgb(57, 41, 128) 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text;"></i> /api/dipper?token=<a style="background: linear-gradient(69deg, rgb(89, 189, 255) 0%, rgb(57, 41, 128) 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text;">TOKEN</a>&avatar1=<a style="background: linear-gradient(69deg, rgb(89, 189, 255) 0%, rgb(57, 41, 128) 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text;">AVATAR</a>&avatar2=<a style="background: linear-gradient(69deg, rgb(89, 189, 255) 0%, rgb(57, 41, 128) 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text;">AVATAR</a></h1>
        <p>This? Naa; but that is nice.</p>
    </article>
    </br>
    <article>
        <h1 style="font-size: 2.2vh;"><i class="fas fa-code" style="background: linear-gradient(69deg, rgb(89, 189, 255) 0%, rgb(57, 41, 128) 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text;"></i> /api/welcome?m=<a style="background: linear-gradient(69deg, rgb(89, 189, 255) 0%, rgb(57, 41, 128) 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text;">MESSAGE</a>&t=<a style="background: linear-gradient(69deg, rgb(89, 189, 255) 0%, rgb(57, 41, 128) 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text;">TITLE</a>&u=<a style="background: linear-gradient(69deg, rgb(89, 189, 255) 0%, rgb(57, 41, 128) 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text;">USERNAME</a>&b=<a style="background: linear-gradient(69deg, rgb(89, 189, 255) 0%, rgb(57, 41, 128) 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text;">BACKGROUND</a>&a=<a style="background: linear-gradient(69deg, rgb(89, 189, 255) 0%, rgb(57, 41, 128) 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text;">AVATAR</a>&me=<a style="background: linear-gradient(69deg, rgb(89, 189, 255) 0%, rgb(57, 41, 128) 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text;">MEMBERS_SIZE</a>&c=<a style="background: linear-gradient(69deg, rgb(89, 189, 255) 0%, rgb(57, 41, 128) 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text;">HEX</a></h1>
        <p>Create a welcome image card totally customizable using <a style="color: #e76e6e; text-decoration: underline;" href="https://www.npmjs.com/package/discord.js" target="_blank">discord.js</a> and <a style="color: #e76e6e; font-weight: 500; text-decoration: underline;" href="https://www.npmjs.com/package/node-superfetch" target="_blank">node-superfetch</a></p>
        <div style="margin-left: 4%; margin-right: 4%; border-color: rgb(46, 46, 46); border-radius: 1vh; border-style: solid; background-color: rgb(46, 46, 46);" id="myDiv">
        <code style="color: #bebebe; font-family: monospace;">let token = "TOKEN";</br>let message = "Welcome+to+my+guild";</br>let avatar = message.author.avatarURL({ format: 'png' });</br>let background = "https://tecnovortex.com/wp-content/uploads/2019/04/wallpaper-engine.jpg";</br>let username = `${member.username}discriminator${member.discriminator}`;</br>let color = "f1f1f1";</br>let members = message.guild.cache.members.size // Optional</br></br>const url = `https://jean.xyz/api/welcome?token=${token}&m=${message}&t=${title}&b=${background}&a=${avatar}&u=${username}discriminator${discriminator}&c=${color}</br>&me=${members}`</br></br>const { body } = await request.get(url);</br></br>message.channel.send(`Welcome to the server`, attachment);</code>
        </div>
    </article>
    <div style="margin-bottom: 5%;"></div>
</div>
