<div class="unknown-user-001" style="text-align: center; margin-top: 180px">
    <h1 style="background: linear-gradient(180deg, rgb(89, 189, 255) 0%, rgb(71, 48, 204) 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text; font-size: 300px;">?</h1>
    <h1 style="color: #747474;"><a style="color: #555555;">404:</a> You are in Limbo</h1>
</div>