<div class="main-index-001">
    <div class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
    <div class="content-index" style="text-align: center; margin-top: 350px;">
        <h1 style="font-family: 'Press Start 2P', cursive;">
            <span style="background: linear-gradient(69deg, rgb(58, 144, 201)0%, rgb(163, 49, 192) 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text;">{</span><span style="color: #7e7e7e ">Jean</span><span style="background: linear-gradient(69deg, rgb(58, 144, 201)0%, rgb(163, 49, 192) 100%); -webkit-text-fill-color: transparent; -webkit-background-clip: text;">}</span>
        </h1>
    </div>
</div>